body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #6e0f0f, #280924);
    color: #f5f5f5;
    line-height: 1.8;
}

header {
    background: linear-gradient(90deg, #6e0f0f, #280924);
    height: 150px;;
    border-bottom: 2px solid #ff04a7;
    position: sticky;
    top: 0;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.navbar h1 {
    text-align: center;
    color: #ad0071;
    margin-bottom: 15px;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #150029;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: #94648d;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #d2a0d7;
}

body > h1 {
    color: #ad0071;
    text-align: center;
    margin: 50px 20px 20px;
    font-size: 2.2rem;
}

body > h3 {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #f5f5f5;
    padding: 0 20px;
}

body > p {
    max-width: 1000px;
    margin: 20px auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 5px solid #ff04a7;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body > p:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}


